#wheel
#numpy
#obspy
#pyflex @ git+https://github.com/rdno/pyflex.git@surface_arrivals_py3
#pyadjoint @ git+https://github.com/rdno/pyadjoint.git@py3
#pytomo3d @ git+https://github.com/rdno/pytomo3d@py3
#pyasdf @ git+https://github.com/rdno/pyasdf@py3
#spaceweight @ git+https://github.com/rdno/spaceweight@compat
#tqdm
#pyyaml
#mpi4py
#h5py # h5py with parallel option needed

#h5py with parallel option need to be installed from source
# by the command
# git clone https://github.com/h5py/h5py.git && cd h5py && HDF5_MPI=ON CC=mpicc pip install . && cd .. && rm -rf h5py
# if you enconter the error "Could not build wheels for h5py, which is required to install pyproject.toml-based projects"
# you need to export HDF5_DIR=/path/to/hdf5 before running the command